body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    background: black;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #d4af37;
}

header h1 {
    color: #d4af37;
    margin: 0;
}

header p {
    margin-top: 10px;
    color: #ccc;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #d4af37;
}

section {
    padding: 50px 20px;
    text-align: center;
}

button {
    background: #d4af37;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #f0c94a;
}

footer {
    background: black;
    text-align: center;
    padding: 20px;
}

#inicio {
    background:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url("/Vikings-Studio/img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 120px 20px;
}

#inicio h2 {
    font-size: 55px;
    color: #d4af37;
    margin-bottom: 10px;
}

#inicio h3 {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

#inicio p {
    font-size: 20px;
    color: #ddd;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}
